<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
	<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	<property name="url" value="jdbc:mysql://localhost:3306/hemme_db"></property>
	<property name="username" value="root"></property>
	<property name="password" value="root"></property>
    </bean>


    <bean id="clinicalEvent" class="com.povodev.hemme.bean.ClinicalEvent">
        <property name="id"/>
        <property name="author"/>
        <property name="date"/>
        <property name="therapy"/>
        <property name="note"/>       
    </bean>
    
    <bean id="clinicalFolder" class="com.povodev.hemme.bean.ClinicalFolder">
        <property name="id" value="Hello World!"/>
        <property name="user_id" value="1"/>
        <property name="clinicalEvent_id" value="1"/>
    </bean>
  
    <bean id="diary" class="com.povodev.hemme.bean.Diary">
        <property name="id"/>
        <property name="user_id"/>
        <property name="document_id"/>
    </bean>
    
    <bean id="doctor" class="com.povodev.hemme.bean.Doctor">
        <property name="code"/>
        <property name="user_id"/>
    </bean>
    
    <bean id="document" class="com.povodev.hemme.bean.Document">
        <property name="id"/>
        <property name="date"/>
        <property name="file"/>
    </bean>       
    
    <bean id="doctor" class="com.povodev.hemme.bean.Doctor">
        <property name="code"/>
        <property name="user_id"/>
    </bean>
    
    <bean id="hasDp" class="com.povodev.hemme.bean.HasDp">
        <property name="id"/>
        <property name="user_id"/>
        <property name="doctor_id"/>
    </bean>
    
    
    <bean id="hasTp" class="com.povodev.hemme.bean.HasTp">
        <property name="id"/>
        <property name="patient_id"/>
        <property name="tutor_id"/>
    </bean>   
    
     <bean id="patient" class="com.povodev.hemme.bean.Patient">
        <property name="id"/>
    </bean>   
    
     <bean id="result" class="com.povodev.hemme.bean.Result">
        <property name="id"/>
        <property name="grade"/>
        <property name="time"/>
    </bean>   
  
    <bean id="test" class="com.povodev.hemme.bean.Test">
        <property name="id"/>
        <property name="user_id"/>
        <property name="result_id"/>
    </bean>
    
    <bean id="tutor" class="com.povodev.hemme.bean.Tutor">
        <property name="id"/>
    </bean>  
    
    <bean id="user" class="com.povodev.hemme.bean.User">
        <property name="id"/>
        <property name="imei"/>
        <property name="name"/>
        <property name="surname"/>
        <property name="password"/>
        <property name="email"/>
        <property name="role"/>
    </bean>
            
            
</beans>
